
<div class="col-md-8">
  <div class="card">
      <div class="card-header"  >
          <p class="h2 text-center">Administrar tipos de servicios</p>
      </div>
      <div class="card-body">
          <button type="button" class="btn btn-success btn-block" data-toggle="modal"
              data-target="#ingresarTipoServicio">Ingresar tipo de servicio</button>
      </div>
      <div class="modal fade" id="ingresarTipoServicio" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
              <div class="modal-content">
                  <div class="modal-header">
                      <p class="modal-title h3" id="exampleModalLabel">Ingresar tipo de servicio</p>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                      </button>
                  </div>
                  
                  <div class="modal-body">
                      <form [formGroup]="form">
                          <div class="form-group">
                              <input type="text" name="Nombre" formControlName="txtNombre"
                                  placeholder="Ingresar nombre del servicio" class="form-control" required >
                          </div>
                          <div class="form-group">
                              <input type="text" name="Descripcion" formControlName="txtDescripcion"
                                  placeholder="Ingresar descripción del servicio" class="form-control" required>
                          </div>
                          <div class="form-group">
                            <label for="inputGroupSelect01">Seleccione el tipo</label>
                              <select class="form-select" id="inputGroupSelect01" formControlName="txtIncidencia">
                                  <option *ngFor="let i of servicioTipo" [value]="i.Si">{{i.Nombre}}
                                  </option>
                              </select>
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-secondary"
                                  data-dismiss="modal">Cerrar</button>
                              <button type="button" class="btn btn-primary" (click)="postTipoServicio()"
                                  data-dismiss="modal">Ingresar</button>
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<p-table #dt [value]="tiposServiciosList"  dataKey="id" [rowHover]="true"
    [rows]="10" [showCurrentPageReport]="true" [rowsPerPageOptions]="[10,25,50]" 
    [paginator]="true" currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
    [filterDelay]="0" [globalFilterFields]="['tseId','tseIncidencia','tseNombre','tseDescripcion']">
    <ng-template pTemplate="caption">
        <div class="containerMi">
        <div class="table-header h4">
            Lista de tipos de servicios
            
        </div>
        <div class="search">
            <span class="p-input-icon-left">
                <i class="pi pi-search"></i>
                <input class="form-control boxSearch" p-inputText type="text" (input)="dt.filterGlobal(getEventValue($event), 'contains')" placeholder="Buscar" />
            </span>
        </div>
    </div>
    </ng-template>
    <ng-template pTemplate="header">
        <tr>
            <th pSortableColumn="tseId">
                <div class="flex justify-content-between align-items-center text-center">
                    ID
                    <p-sortIcon field="tseId"></p-sortIcon>
                    
                </div>
            </th>
            <th pSortableColumn="tseIncidencia" >
              <div class="flex justify-content-between align-items-center text-center">
                  Tipo
                  <p-sortIcon field="tseIncidencia"></p-sortIcon>
                 
              </div>
          </th>
          <th pSortableColumn="tseNombre" >
            <div class="flex justify-content-between align-items-center text-center">
                Nombre
                <p-sortIcon field="tseNombre"></p-sortIcon>
                
            </div>
        </th>
        <th pSortableColumn="tseDescripcion" >
          <div class="flex justify-content-between align-items-center text-center">
              Descripción
              <p-sortIcon field="tseDescripcion"></p-sortIcon>
              
          </div>
      </th>
            <th style="width: 5rem" class="text-center">
              Opciones
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-FinTipoServicioModel>
        <tr class="p-selectable-row">
            
            <td>
               
                {{FinTipoServicioModel.tseId}}
            </td>
            <td>
             
              {{FinTipoServicioModel.tseIncidencia?"Incidencia":"Servicio"}}
          </td>
          <td>
           
            {{FinTipoServicioModel.tseNombre}}
        </td>
        <td>
          
          {{FinTipoServicioModel.tseDescripcion}}
      </td>  
            <td style="text-align: center">
              <a class="btn btn-success" data-toggle="modal" data-target="#editarServicio"
              (click)="getTipoServicio(FinTipoServicioModel.tseId,FinTipoServicioModel.tseIncidencia,FinTipoServicioModel.tseNombre,FinTipoServicioModel.tseDescripcion)">
              <i class="fas fa-edit"></i>Editar
          </a>
          <div class="modal fade" id="editarServicio" tabindex="-1" role="dialog"
              aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <p class="modal-title h3" id="exampleModalLabel">Editar tipo de servicio</p>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <div class="modal-body">
                      
                          <form [formGroup]="form">

                            <div class="form-group">
                                <label>
                                    <p class="h4">ID del servicio: {{idServicio}}</p>
                                </label>
                            </div>
                              <div class="form-group">
                                  <label for="Nombre">Nombre del servicio</label>
                                  <input type="text" name="Nombre" id="Nombre" formControlName="txtNombre"
                                      placeholder="Ingresar nombre del servicio" value="{{nombreServicio}}"
                                      class="form-control" required>
                              </div>
                              <div class="form-group">
                                <label for="Descripcion">Descripción del servicio</label>
                                  <input type="text" name="Descripcion" id="Descripcion" formControlName="txtDescripcion"
                                      placeholder="Ingresar descripción" value="{{descripcionServicio}}"
                                      class="form-control" required>
                              </div>
                              <div class="form-group">
                                <label for="inputGroupSelect001">Seleccione el tipo</label>
                                  <select class="form-select" id="inputGroupSelect001" formControlName="txtIncidencia" [selectedIndex]="idDefaultSelect">
                                      <option *ngFor="let i of servicioTipo" value="{{i.Si}}">{{i.Nombre}}
                                      </option>
                                  </select>
                              </div>
                              <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary"
                                      data-dismiss="modal">Cerrar</button>
                                  <button type="button" class="btn btn-primary"
                                      (click)="updateTipoServicio()"
                                      data-dismiss="modal">Actualizar</button>
                              </div>
                          </form>
                    
                      </div>
                  </div>
              </div>
          </div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
        <tr>
            <td colspan="8">No hay registros que mostrar</td>
        </tr>
    </ng-template>
</p-table>