<div class="row">

  <!-- Earnings (Monthly) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-primary shadow h-100 py-2">
          <div class="card-body">
              <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                          Earnings (Monthly)</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">$40,000</div>
                  </div>
                  <div class="col-auto">
                      <i class="fas fa-calendar fa-2x text-gray-300"></i>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <!-- Earnings (Annual) Card Example -->
  <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-left-success shadow h-100 py-2">
          <div class="card-body">
              <div class="row no-gutters align-items-center">
                  <div class="col mr-2">
                      <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                          Earnings (Annual)</div>
                      <div class="h5 mb-0 font-weight-bold text-gray-800">$215,000</div>
                  </div>
                  <div class="col-auto">
                      <i class="fas fa-dollar-sign fa-2x text-gray-300"></i>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


<div class="container-fluid">

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table datatable class="table table-bordered" id="dataTable" width="100%" cellspacing="0" *ngIf="this.temp">
          <thead>
            <tr>
              <th>Id</th>
              <th>Valor</th>
              <th>Fecha de creación</th>
              <th>Fecha de finalización</th>
              <th>Concepto</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <th>Id</th>
              <th>Valor</th>
              <th>Fecha de creación</th>
              <th>Fecha de finalización</th>
              <th>Concepto</th>
            </tr>
          </tfoot>
          <tbody>
            <tr *ngFor="let monto of this.montos">
              <td>{{monto.monId}}</td>
              <td>{{monto.monValor}}</td>
              <td>{{monto.monFechaAsignacion}}</td>
              <td>{{monto.monFechaFin}}</td>
              <td>{{monto.tipoDeuda.tdeNombre}}</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>