<div class="sidebar sidebar-hide-to-small sidebar-shrink sidebar-gestures">
  <div class="nano">
      <div class="nano-content">
          <ul>
              <div class="text-center"><a href="index.html">
                      <div>
                          <p></p>
                      </div>
                      <div>
                          <img src="../assets/images/tryLogo.png" alt="Logo" width="250" />
                      </div>
                  </a></div>
              <div class="text-center" style="color: white ; font-size: large;">
                  <span>Panel para tesorero</span>
              </div>

              <li class="label">Opciones</li>
              <li>
                  <a class="sidebar-sub-toggle" routerLink="/menutesorero"><i class="ti-layout-grid2-alt"></i>
                      Inicio </a>
              </li>
              <li>
                <a class="sidebar-sub-toggle" routerLink="/tiposservicios"><i class="ti-layout-grid2-alt"></i>
                    Tipos de servicios </a>
            </li>
            <li>
                <a class="sidebar-sub-toggle" routerLink="/pagoservicios"><i class="ti-layout-grid2-alt"></i>
                    Pago de servicios </a>
            </li>
            <li>
                <a class="sidebar-sub-toggle" routerLink="/ingresos"><i class="ti-layout-grid2-alt"></i>
                    Ver ingresos </a>
            </li>
            <li>
                <a class="sidebar-sub-toggle" routerLink="/gastos"><i class="ti-layout-grid2-alt"></i>
                    Pagos para solución de incidencias</a>
            </li>




            <li>
                <a class="sidebar-sub-toggle" href="/"><i class="ti-layout-grid2-alt"></i>
                    Salir </a>
            </li>

          </ul>
      </div>
  </div>
</div>


