@import "~bootstrap/dist/css/bootstrap.css";

.header {
  height: 4rem;
  z-index: 1;
  position: relative;
  padding: 0 0.9375rem;
  background-color: #fff;
  z-index: 3;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  padding-left: 1rem;
  transition: all .2s ease;
}

.header .header-content {
  height: 100%;
}

.header .header-content {
  height: 100%;
  padding-left: 5.3125rem;
  padding-right: 1.875rem;
  align-items: center;
  display: flex;
}

@media only screen and (max-width: 575px) {
  .header .header-content {
    padding-left: 2.375rem;
  }
}

.header .navbar {
  padding: 0;
  height: 100%;
  width: 100%;
}

.header .navbar .navbar-collapse {
  height: 100%;
  width: 100%;
}

.nav-label {
  margin: 0px 25px 0;
  padding: 1.5625rem 0 10px;
  text-transform: uppercase;
  font-size: 0.75rem;
  letter-spacing: 0.05rem;
}

.nav-badge {
  position: absolute;
  right: 2.8125rem;
  top: 0.625rem;
}

.content-body {
  margin-left: 17.1875rem;
  z-index: 0;
  transition: all .2s ease;
}

@media only screen and (min-width: 1200px) and (max-width: 1350px) {
  .content-body {
    margin-left: 14.375rem;
  }
}

.quixnav {
  width: 17.1875rem;
  padding-bottom: 112px;
  height: 100%;
  position: absolute;
  top: 5rem;
  padding-top: 0;
  z-index: 2;
  background-color: #343957;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  transition: all .2s ease;
}

.quixnav .quixnav-scroll {
  position: relative;
  height: 100%;
}

@media only screen and (min-width: 1200px) and (max-width: 1350px) {
  .quixnav {
    width: 14.375rem;
  }
}

.quixnav ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.quixnav .metismenu {
  display: flex;
  flex-direction: column;
}

.quixnav .metismenu.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
}

.quixnav .metismenu>li {
  display: flex;
  flex-direction: column;
}

.quixnav .metismenu>li a>i {
  font-size: 1.125rem;
  display: inline-block;
  vertical-align: middle;
  padding: 0 0.4375rem;
  font-weight: 700;
  position: relative;
  top: -2px;
}